<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/favicon.ico">
	<title>Adventure Waits Me | WebReactor</title>
	<meta name="author" content="Preeti Patil, Ankit Rajput, Karthik Sadanand, Satya Keerthi, Taeho Kim" />
	<meta name="description" content="extreme sports adventure & location from hiking, mountaineering, scuba diving, skydiving, rock climbing, surfing, rafting, and more. Venues include indoor and outdoor.">
	<meta name="keywords" content="extreme sport, xtreme,, adventure, mountain, hiking, mountanineering, scuba, sky diving, rock climbing, surfing, rafting, indoor, outdoor, national park">
	<link rel="canonical" href="https://www.adventurewaits.me/">
	<meta name="google-site-verification" content="Ge96iJwvX5ky5hxwpE46jBuYu8AL0HvMSE4lNhkXbNA" />

	<!-- Google Analytics -->
	<script>
    window.ga = window.ga || function () {
      (ga.q = ga.q || []).push(arguments)
    };
    ga.l = +new Date;
    ga('create', 'UA-88232138-1', 'auto');
    ga('send', 'pageview');
  </script>
	<script async src="https://www.google-analytics.com/analytics.js"></script>
	<!-- End Google Analytics -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/landing-page.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" 

rel="stylesheet" type="text/css">
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script type="text/javascript">
		function getUserInfo() {
			$.ajax({
				type: "GET",
				url: "/getuserinfo",
				success: function (data) {},
				statusCode: {
					200: function () {
						//alert("USER CREATED");
					},
					500: function () {
						//alert("Server error. Please get back later");
					},
					404: function () {
						//alert("Resouce not Found. Please try later");
					},
					409: function () {
						//alert("User Already Exists");
					}
				},
				complete: function (e) {
					if (e.status == 200) {
						var userInfo = JSON.parse(e.responseText);
						if (userInfo[0].fullName != null || userInfo[0].fullName != "")
							$("#userInfo").html(userInfo[0].fullName);
						$("#signOutLabel").html("Sign Out");
					}
				}
			});
		}
		function getAllGroups() {
			$.ajax({
				type: "GET",
				url: "/getallgroups",
				success: function (data) {},
				statusCode: {
					200: function () {
						//alert("USER CREATED");
					},
					500: function () {
						//alert("Server error. Please get back later");
					},
					404: function () {
						//alert("Resouce not Found. Please try later");
					},
					409: function () {
						//alert("User Already Exists");
					}
				},
				complete: function (e) {
					if (e.status == 200) {
						var allGroups = JSON.parse(e.responseText);
						//console.log("hj " + JSON.stringify(allGroups));
						var sp = localStorage.getItem("searchedSport").replace(/\s/g, '').toLowerCase();
						for (var i in allGroups) {
							if (allGroups[i].groupCategory.toLowerCase() == sp) {
								//console.log("IINN");
								$("#groupListGroup").append("<a href='/group/" + allGroups[i].groupid + "'class='list-group-item list-group-item-action'><span class='fa fa-users' aria-hidden='true'></span><h5 class='list-group-item-heading' style='display: inline'>&nbsp;" + allGroups[i].groupName + "</h5><p class='list-group-item-text' style='padding-top:10px;'>" + allGroups[i].groupDescription + "</p></a>");
							}
						}
					}
				}
			});
		}

		$(document).ready(function () {
			getUserInfo();
			getAllGroups();
		});
	</script>
	</head>
	<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation" style="opacity: 0.3">
      <div class="container topnav">
    <div class="navbar-header"> <a class="navbar-brand topnav" href="/"	style="color: white; font-size: 30px; font-family: 'Orbitron', sans-serif;">ADVENTURE</a> </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
        <li> <a href="/sports" style="color: white;">Sports</a> </li>
        <li> <a href="/places" style="color: white;">Places</a> </li>
        <li> <a href="/userpage" style="color: white;">
          <label id="userInfo">SignIn/Signup</label>
          </a> </li>
        <li> <a href="/signout" style="color: white;">
          <label id="signOutLabel"></label>
          </a> </li>
        <li> <a>
          <div id="google_translate_element"></div>
          </a> 
              <script type="text/javascript">
							function googleTranslateElementInit() {
							  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'es,fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
							}
						</script> 
              <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> 
            </li>
      </ul>
        </div>
  </div>
    </nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
    <div class="modal-content">
          <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#tab1" data-toggle="tab" style="line-height: 35px;">SignIn</a></li>
        <li><a href="#tab2" data-toggle="tab" style="line-height: 35px;">New User</a></li>
      </ul>
          <div class="tab-content">
        <div id="tab1" class="tab-pane fade in active">
              <div class="modal-body">
            <form role="form">
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-envelope"></i>
                      <input type="text" class="form-control" id="email" placeholder="Email">
                    </div>
              </div>
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-lock"></i>
                      <input type="text" class="form-control" id="psw" placeholder="Password">
                    </div>
              </div>
                  <button type="submit" class="btn btn-success btn-block" style="width: 100%; height: 52px; margin-top: 30px;"> Signin</button>
                </form>
          </div>
            </div>
        <div id="tab2" class="tab-pane fade">
              <div class="modal-body">
            <form role="form">
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-envelope"></i>
                      <input type="text" class="form-control" id="Signemail" placeholder="Email">
                    </div>
              </div>
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-user"></i>
                      <input type="text" class="form-control" id="fullName" placeholder="Name">
                    </div>
              </div>
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-lock"></i>
                      <input type="text" class="form-control" id="password" placeholder="Password">
                    </div>
              </div>
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-lock"></i>
                      <input type="text" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    </div>
              </div>
                  <div class="form-group">
                <div class="left-inner-addon"> <i class="glyphicon glyphicon-lock"></i>
                      <input type="text" class="form-control" id="userLocation" placeholder="Location (Optional)">
                    </div>
              </div>
                  <button type="submit" class="btn btn-success btn-block" style="width: 100%; height: 52px; margin-top: 30px;"> Create Account</button>
                </form>
          </div>
            </div>
      </div>
        </div>
  </div>
    </div>

<!-- Map --> 
<a name="about"></a>
<div class="intro-header intro-headerOtherPage">
      <div id="map" style="height: 650px; width: 100%; background-color: #000000"></div>
    </div>

<!-- Image Carousel -->

<div class="content-section-a" style="min-height: 600px;">
      <div class="container" style="min-height: inherit;">
    <div class="row">
          <div align="center">
        <h2 class="section-heading">Rafting</h2>
        <hr class="section-heading-spacer" style="float: none;">
        <div class="clearfix"></div>
      </div>
        </div>
    <div class="row">
          <div class="col-lg-12">
        <div id="carousel1" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
            <li data-target="#carousel1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel1" data-slide-to="1"></li>
            <li data-target="#carousel1" data-slide-to="2"></li>
            <li data-target="#carousel1" data-slide-to="3"></li>
            <li data-target="#carousel1" data-slide-to="4"></li>
            <li data-target="#carousel1" data-slide-to="5"></li>
            <li data-target="#carousel1" data-slide-to="6"></li>
          </ol>
              <div class="carousel-inner" role="listbox">
            <div class="item active"> <img src="images/Carousel/rafting/1.jpg" alt="Third slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>Adventure is worthwhile</h3>
                <p>Aristotle</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/2.jpg" alt="Second slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>It's the scary choices that end up being the most worthwhile</h3>
                <p>Melissa Joy Kong</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/3.jpg" alt="Third slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>No one alone can match the efforts of a cooperative team</h3>
                <p>Hermel. El Hermel</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/4.jpg" alt="Third slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>We all take different paths in life, but no matter where we go, we take a little of each other everyhwere</h3>
                <p>Tim McGraw</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/5.jpg" alt="Third slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>A river seems a magic thing. A magic, moving, living part of the very earth itself</h3>
                <p>Laura Gilpin</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/6.jpg" alt="First slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>A river cuts through rock not because of its power but because of its persistence</h3>
                <p>James N. Watkins</p>
              </div>
                </div>
            <div class="item"> <img src="images/Carousel/rafting/7.jpg" alt="Third slide image" class="center-block" style="width: 100%; height: 700px">
                  <div class="carousel-caption">
                <h3>You can't control the wind but you can adjust your sails</h3>
                <p>Thomas S. Monson</p>
              </div>
                </div>
          </div>
              <a class="left carousel-control" href="#carousel1" role="button" data-slide="prev"><span
							class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span
							class="sr-only">Previous</span></a><a class="right carousel-control" href="#carousel1" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="sr-only">Next</span></a> </div>
      </div>
        </div>
  </div>
    </div>

<!--GROUPS AND THINGS-->

<div class="content-section-a" style="min-height: 600px;">
      <div class="container" style="min-height: inherit;">
    <div class="row">
          <div class="col-lg-6">
        <div align="center">
              <h2 class="section-heading">Groups</h2>
              <hr class="section-heading-spacer" style="float: none;">
              <div class="clearfix"></div>
            </div>
      </div>
          <div class="col-lg-6">
        <div align="center">
              <h2 class="section-heading">Essential Things</h2>
              <hr class="section-heading-spacer" style="float: none;">
              <div class="clearfix"></div>
            </div>
      </div>
        </div>
    <div class="row">
          <div class="col-lg-6">
        <div class="well">
              <div class="list-group" id="groupListGroup"> </div>
            </div>
      </div>
          <div class="col-lg-6">
        <div class="well">
              <div class="list-group"> <a class="list-group-item 

list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Trail Map</h5>
                </a> <a class="list-group-item 

list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Compass</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">First Aid</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Tent</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Sleeping Bag</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Knife</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Flashlight</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Watch</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Binoculars</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Whistle</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Sun Protection</h5>
                </a> <a class="list-group-item list-group-item-action"> <span 

class="glyphicon glyphicon-check" aria-hidden="true"></span>
                <h5 class="list-

group-item-heading" style="display: inline">Insect Repellent</h5>
                </a> </div>
            </div>
      </div>
        </div>
  </div>
    </div>

<!--Reviews-->

<div class="content-section-a" style="min-height: 600px;">
      <div class="container" style="min-height: inherit;">
    <div class="row">
          <div class="col-lg-12">
        <div align="center">
              <h2 class="section-

heading">Adventurer Reviews</h2>
              <hr class="section-heading-spacer" 

style="float: none;">
              <div class="clearfix"></div>
            </div>
      </div>
        </div>
    <div class="row">
          <div class="col-lg-12">
        <div class="row">
              <div class="col-lg-12">
            <div class="row">
                  <div class="col-lg-

12">
                <div 

class="well">
                      <div 

class="row">
                    <div class="col-lg-3"><img src="images/profile/6_Ava.jpg" class="img-responsive" 

alt="Placeholder image"> </div>
                    <div class="col-lg-9">
                          <h3> Ava</h3>
                          <img src="images/Raiting/5.gif" class="img-responsive" alt="5 rating">
                          <p>My first time rafting in this place! Went with a gang of 10 and I must say 
                        
                        I absolutely loved it! Though I have a fear of water, the authorities made sure that 
                        
                        safety was their main priority. This rapid is super challenging and the twists and 
                        
                        turns in the river add on to the thrill of the sport! Adventurewaits helped us pick 
                        
                        the right services we needed from vendors. Thank you.</p>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
            <div class="row">
                  <div class="col-lg-

12">
                <div 

class="well">
                      <div 

class="row">
                    <div class="col-lg-3"><img src="images/profile/7_ray.jpg" class="img-responsive" 

alt="Placeholder image"> </div>
                    <div class="col-lg-9">
                          <h3> Ray</h3>
                          <img src="images/Raiting/4_5.gifg" class="img-responsive" alt="4.5 rating">
                          <p>Must visit place! I have been to many rafting places but this one 
                        
                        supersedes all of them! A challenging river to raft on! The water is rough and has 
                        
                        sharp maneuvers which makes it ideal for thrill junkies!</p>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
            <div class="row">
                  <div class="col-lg-

12">
                <div 

class="well">
                      <div 

class="row">
                    <div class="col-lg-3"><img src="images/profile/8_mark.jpg" class="img-responsive" 

alt="Placeholder image"> </div>
                    <div class="col-lg-9">
                          <h3> Mark</h3>
                          <img src="images/Raiting/4.gif" class="img-responsive" alt="4 rating">
                          <p>Lot of rafting points that can be  explored on the way to this river! The 
                        
                        waterfall on the foothills was a pleasure to the eye. If you are rafting maniac. This 
                        
                        place is a must visit. This rafting place is not known to all. Thanks to Adventure 
                        
                        waits for showing a new place.</p>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
            <div class="row">
                  <div class="col-lg-

12">
                <div 

class="well">
                      <div 

class="row">
                    <div class="col-lg-3"><img src="images/profile/9_cassie.jpg" class="img-responsive" 

alt="Placeholder image"> </div>
                    <div class="col-lg-9">
                          <h3> Cassie</h3>
                          <img src="images/Raiting/3.gif" class="img-responsive" alt="3 rating">
                          <p>This is a medium difficulty level rafting place. Good for beginners and 
                        
                        intermediate rafters! The company is well equipped with equipment and safety gear! 
                        
                        All in all a great experience with Jackson Hole Whitewaters. Thank you Adventurewaits 
                        
                        for recommending this place!</p>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
            <div class="row">
                  <div class="col-lg-

12">
                <div 

class="well">
                      <div 

class="row">
                    <div class="col-lg-3"><img src="images/profile/10_peet.jpg" class="img-responsive" 

alt="Placeholder image"> </div>
                    <div class="col-lg-9">
                          <h3> Peet</h3>
                          <img src="images/Raiting/3_5.gif" class="img-responsive" alt="3.5 rating">
                          <p>I am a seasoned rafter and I must say Orange Torpedo Trips handle the 
                        
                        rafting sport like professionals. They have all the latest equipment and all the 
                        
                        safety gear necessary for the sport. I make sure safety is number one when it comes 
                        
                        to the sport. Also the site where they take customers to raft is class 1-class 6 
                        
                        which allows users to select classes based on interest. Overall a great experience in 
                        
                        rafting! Thank you Adventurewaits for recommending this place.</p>
                        </div>
                  </div>
                    </div>
              </div>
                </div>
          </div>
            </div>
      </div>
        </div>
  </div>
    </div>
<script>
		function initMap() {
			var uluru = {
				lat: 37.542571,
				lng: -121.993037
			};

			var map = new google.maps.Map(document.getElementById('map'), 

{
				zoom: 4,
				center: uluru
			});

			getMapData();

			var icons = {
				icon: 'img/icons/rafting.png'
			};

			function addMarker(feature) {
				if (feature.type.toUpperCase() == 

localStorage.getItem(
						"searchedSport").toUpperCase())
					var marker = new google.maps.Marker({
						location: feature.address,
						position: new google.maps.LatLng

(feature.latitude,
							feature.longitude),
						icon: icons.icon,
						map: map
					});

				var contentString = '<div id="content" 

style="color:black;">' + '<div id="siteNotice">' + '</div>' + '<h4 id="firstHeading" 

class="firstHeading">' + feature.type.toUpperCase() + '</h4>' + '<div 

id="bodyContent">' + '<p style="text-align:left;"><b>Sport: </b>' + feature.type + 

'<br>' + '<b>Name of the Place: </b>' + feature.name + '<br>' + '<b>Address of the 

Place: </b>' + feature.address + '</p>' + '</div>' + '</div>';


				var infowindow = new google.maps.InfoWindow({
					content: contentString
				});
				marker.addListener('click', function () {
					infowindow.open(map, marker);
					maxWidth: 50

				});
			}

			function getMapData() {

				var myData = {};
				myData.searchedSport = localStorage.getItem

("searchedSport");

				$.ajax({
					url: "/sports",
					datatype: "JSON",
					data: myData,
					type: "POST",
					success: function (data) {
						if (data.statusCode == 200) {

							var newData = data.data;
							var j = 0;
							for (var i = 0; i < 

newData.length; i++) {

								if (newData

[i].type.toUpperCase() == myData.searchedSport.toUpperCase()) {

									

//console.log("FeaTURE IS" + "                  " + JSON.stringify(newData[i].type));

									addMarker

(newData[i]);
									

//console.log(++j);
								}
							}
						}
					},
					error: function () {
						//alert("error in html");
					}
				});

			}
		}
	</script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?

key=AIzaSyC2_EK0wdicPt2S1AZhxBt1Alt3C8TG5aY&callback=initMap"></script> 
<!-- Footer -->
<footer>
      <div class="container" align="center">
    <div class="row">
          <div class="col-lg-12">
        <ul class="list-inline">
              <li><a href="#">Home</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#sports">Sports</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#reviews">Reviews</a></li>
              <li class="footer-menu-divider">&sdot;</li>
              <li><a href="#signup" data-toggle="modal" data-target="#myModal">SignIn/Signup</a></li>
            </ul>
        <p class="copyright text-muted small">Copyright &copy; WebReactors 2016. All Rights Reserved</p>
      </div>
        </div>
  </div>
    </footer>

<!-- jQuery --> 
<script src="js/jquery.js"></script> 
<script src="js/customize.js"></script> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script src="js/myCustomAccordion.js"></script>
</body>
</html>