.content {
	position: relative;
	z-index: 2;	
}

.pac-container {
    z-index: 1051 !important;
}


.video {
	position: absolute;
	z-index: -100;
	overflow: hidden;
	top: 50%; 
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-size: cover;
}

html, body{
	height: 100%;
}

video{
	margin:0;
}




/*SIGNIN / SINGUP MODAL */


.nav-tabs > li > a {
  background-color: #d2d8d8; 		  
  color: #809191;
  height: 60px;
  text-align: center;		  
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
	color: #505260;
	background-color: #fff;  
	height: 60px;
	text-align: center;
}         
.left-inner-addon {
	position: relative;
}
.left-inner-addon input {
	padding-left: 48px; 
	height: 50px;   
}
.left-inner-addon i {
	position: absolute;
	padding: 17px 17px;
	pointer-events: none;
}        		




/*REVIEWS CAROUSEL*/

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
    /*background: lightcoral;*/
    /*background-image: url(reviewsbg.jpg);*/
    color: gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
}
#quote-carousel .carousel-control {
    background: none;
    color: gainsboro;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 10px;
    opacity: .5;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}

.reviewer {
    margin-top: 10px;
    font-size: 85%;
    color: gray;
    font-style: italic;
    font-family: cursive;
    float: right;
    color: gainsboro;
}

.myCarouselHeader{
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
    padding-top: 30px;
    text-align: center;
    text-decoration: underline;
    color: gainsboro;
}



/*MY CUSTOM ACCORDION*/

#myAccordion{
	background: #888;
	/*width:800px;*/
	/*height: 200px;*/
	overflow: hidden;
	margin: 10px auto;
	/*width: 96%;*/
	color: white;
    font-size: 20px;
}

#myAccordion>li{
	display: inline-block;
	vertical-align: top;
	text-align: center;	
	float: left;
}


#myAccordion>li:nth-child(even){
	/*width: 130px;*/
	width: 14%;
	/*max-width: 100%;*/
	/*height: 200px;*/
	min-height: inherit;
	overflow: hidden;	
	/*margin-left: -38px;*/
}


#myAccordion>li:nth-child(odd){

	/*background: black;*/
	transform: rotate(270deg);
	-ms-transform:rotate(270deg); 
	-webkit-transform: rotate(270deg);
	background-color: rgba(0,0,0,0.8);


	/*width: 200px;
	height: 30px;
	margin: 85px -85px;*/
	/*width: 646px;
    height: 46px;
    margin: 277px -338px;	
    position: relative;*/
        width: 616px;
    height: 60px;
    margin: 270px -317px;
    position: relative;
}


#myAccordion>li:nth-child(odd)>p{

	margin: 20px 0px;
}